<link rel="stylesheet" href="{{ "/assets/css/timeline.css" | relative_url }}">
<div class="timeline">
    <div class="timeline-item">
        <span class="year">2025</span>
        <div class="content">Microsoft (Software Engineer IC3)</div>
    </div>
    <div class="timeline-item">
        <span class="year">2024</span>
        <div class="content">USC Keck School of Medicine (ML Engineer)</div>
    </div>
    <div class="timeline-item">
        <span class="year">2023</span>
        <div class="content">USC ISI (ML Engineer)</div>
    </div>
    <div class="timeline-item">
        <span class="year">2022</span>
        <div class="content">Juniper Networks (Software Engineer 2)</div>
    </div>
    <div class="timeline-item">
        <span class="year">2021</span>
        <div class="content">Oracle (Software Engineer 1)</div>
    </div>
</div>

<script src="{{ "/assets/js/timeline.js" | relative_url }}"></script>